.info-box {
  box-sizing: border-box;
  position: relative;
  pointer-events: auto;
  padding: 16px 20px;
  margin: 12px;
  left: 0;
  background: rgba(255, 255, 255, 0.4);
  border: 2px solid #cbd5e1;
  border-radius: 8px;
  transition: all 0.2s ease;
  width: 225px;
}

.info-box.hidden {
  display: none;
}

.info-box-text {
  color: white;
  font-size: 14px;
  line-height: 1.5;
}
